
.main{
    display: flex;
    /* flex-wrap: wrap; */
    border: 1px solid black;
    justify-content: center;
    margin-top: 10%;
    background-color: #006266;
    /* height: 9em; */
    width:30em;
    /* margin-left: 39em; */
}


.lifts{
    border: 1px solid black;
    margin: 1em;
    background-color: #006266;
   
}
.lift{
    border: 1px solid red;
    background-color: #B1E2FF;
    margin-left: 1em;
    color: white;
    font-weight: bold;
    
}
.floor{
    border: 1px solid black;
    height:95px;
    width:150px;
    margin-left: 2em;
    margin-right: 2em;
    display: grid;
    justify-content: center;
    color: #B1E2FF;
}
.active{
    border: 1px solid blue;
    display: grid;
    margin: auto;
    background-color: #006266;
}
#rolar1{
    background-color: red;
    border: 2px solid blueviolet;
    margin-top: 383px;
    /* padding-bottom: 3px; */
    height: 95px;
    width: 150px;
    animation-name: rolar;
    animation-duration: 2s;
    /* animation second = (from-to)/95 */
}
@keyframes rolar {
    from{
        margin-top: 380px;
    }
    to{
        margin-top: 95px;
    }
}

.Maintenance{
    border: 1px solid black;
    margin: 1em;
    color: white;
}
#buttons{
    border: 1px solid rgb(237, 24, 24);
}

.button{
    border: 1px solid black;
    height:95px;
    width:150px;
}
.maintains{
    border: 2px solid blue;
    display: grid;
    margin: auto;
}
.btn{
    margin-left: 1em;
    height: 2em;
    width: 2em;
    margin-top: 1.2em;
}


