body{
    
}
.main{
    display: flex;
    /* flex-wrap: wrap; */
    border: 1px solid black;
    justify-content: center;
    margin-top: 10%;
    background-color: #006266;
    /* height: 9em; */
    width:30em;
    /* margin-left: 39em; */
}


.lifts{
    border: 1px solid black;
    margin: 1em;
    background-color: #006266;
   
}
.lift{
    border: 1px solid red;
    background-color: #B1E2FF;
    margin-left: 1em;
    color: white;
    font-weight: bold;
    
}
.floor{
    border: 1px solid black;
    height:95px;
    width:150px;
    margin-left: 2em;
    margin-right: 2em;
    display: grid;
    justify-content: center;
}
    .active{
    border: 1px solid blue;
    display: grid;
    margin: auto;
    background-color: #006266;
}


.Maintenance{
    border: 1px solid black;
    margin: 1em;
    color: white;
}
#buttons{
    border: 1px solid rgb(237, 24, 24);
}

.button{
    border: 1px solid black;
    height:95px;
    width:150px;
}
.maintains{
    border: 2px solid blue;
    display: grid;
    margin: auto;
}



